header{
    margin-top: 25px;
    padding: 0px 200px;
}
header section:nth-of-type(1){
    display:  inline-flex ;
}
section div{
    padding-left: 10px;
}
ul li{
    display: inline-block;
}
ul li:nth-of-type(7){
    padding-left: 18px;
}
h1{
    font-size: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
h5{
    font-size: 10px;
    color: grey;
}
header section:nth-of-type(2){
    float: right;
    padding-top: 10px;
}
hr{
    height: 10px;
    background-color: grey;
}

main{
    padding: 30px 200px;
}
main section:nth-of-type(1) button{
   float: right;
}

h2{
font-size: 40px;
font-family:fantasy;
color: #262223;
}

main h4{
    font-size: 12px;
    color: grey;
    padding-top: 10px;
    padding-left: 2px;
}

main section:nth-of-type(2) img{
width: 100%;
padding-top: 30px;
}

main p{
    padding-top: 30px;
    font-size: 20px;
    color: grey;

}

p span{
    padding-left: 40px;
}

main section:nth-of-type(3){
    margin-top: 30px;
    padding-top: 35px;
    background-image: url(/img/list-bg.png);
    
    padding-bottom: 50px;
    background-size: 100%;
    margin-bottom: 35px;
}





main section:nth-of-type(3){
   height: 250px;
   
}

main section:nth-of-type(3) div ul li{
    padding-top: 19px;
    padding-left: 50px;
    display: flex;
    font-size: 20px;
    padding-right: 100px;
}

main section:nth-of-type(3) div ul{
    padding-left: 50px;
    display: inline-block;
}

/* input:checked {
    box-shadow: 0 0 0 3px lime;
    color: red;
  } */

  input:checked + label {
    text-decoration: line-through;
  }

  footer{
    margin-top: 25px;
    padding: 0px 200px;
}
footer section:nth-of-type(1){
    display:  inline-flex ;
}
/* body{
    background-color: black;
} */
